name: Deploy backend
on:
  push:
  # workflow_run:
  #   workflows:
  #     - "Build backend"
  #   types:
  #     - completed
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy commands
        uses: tarunjangra/ssh-remote-cmd@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          user: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          command: |
            cd {{ secrets.PROJECT_FOLDER }} &&
            ll -a &&
            docker-compose pull library_backend &&
            docker-compose up -d --build library_backend