name: Deploy backend
on:
  workflow_run:
    workflows:
      - "Build backend"
    types:
      - completed
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy commands
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            whoami 
            cd {{ secrets.PROJECT_FOLDER }} 
            ll -a 
            docker-compose pull library_backend 
            docker-compose up -d --build library_backend